.todolist {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
}

.todolist-input {
	display: flex;
	gap: 8px;
}

.todolist-input input {
	flex: 1;
}

.todolist-input button {
	padding: 8px 16px;
}

.todolist-list {
	list-style: none;
	margin: 0 -6px;
}

.todolist-ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.todolist-item {
	display: flex;
	align-items: center;
	margin-bottom: 6px;
}

.todolist-item.completed {
	opacity: 0.6;
}

.todolist-item .text {
	flex: 1;
	margin-left: 4px;
	overflow-wrap: anywhere;
	word-break: break-word;
  font-family: 'BoutiqueBitmap', sans-serif;
}

.todolist-item .delete {
	cursor: pointer;
	font-weight: bold;
	margin-left: 4px;
}
