.counter {
  position: relative;
}
.counter svg {
  display: block;
  height: 48px;
}
.counter svg:last-child {
  position: absolute;
  top: 0;
  left: 0;
}
.counter .bar {
  position: absolute;
  left: 6px;
  top: 0;
  right: 6px;
  bottom: 6px;
  width: 240px;
}
.counter .bar .length {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--color-yellowlight);
  box-shadow: inset 0 14px 0 0 var(--color-yellowdark);
}