.chat-line {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 8px;
}
.chat-line .chat-username {
  font-size: 20px;
}
.chat-line .chat-message {
  display: flex;
  flex-wrap: wrap;
  padding-left: 6px;
  white-space: break-spaces;
  color: var(--color-dark);
  font-size: 20px;
}
.chat-line .chat-emote {
  display: block;
  width: 20px;
}