.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh; /* 確保主容器填滿視窗高度 */
}

.top {
  background-color: var(--color-blackdark);
}

.center {
  display: flex;
  flex: 1; /* 使用剩餘空間 */
  justify-content: center;
  align-items: center;
}

.center .side {
  width: 300px;
  height: 100%;
}

.center .main {
  flex: 1;
  height: 100%;
}

.bottom {
  height: 84px; /* 固定底部高度 */
  flex-shrink: 0; /* 防止被壓縮 */
  background-color: var(--color-blackdark);
}