.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}
.top {}
.center {
  display: flex;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.center .side {
  width: 300px;
  height: 100%;
}
.center .main {
  flex: 1;
  height: 100%;
}
.bottom {
  height: 100px;
}