.free-window {
  position: absolute;
  overflow: hidden;
  resize: none;
}

.header {
  /* padding: 40px; */
  height: 32px;
  cursor: grab;
  user-select: none;
}

.header:active {
  cursor: grabbing;
}

.content {
  padding: 16px 16px;
  padding-top: 0;
}

.resize-handle {
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: se-resize;
}

.resize-handle.bottom-right {
  bottom: 0;
  right: 0;
}
